* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#morning {
    background-color: fuchsia;
    border: 12px;
    margin: 12px;
}

#afternoon {
    background-color: pink;
    border: 12px;
    margin: 12px;
}

#evening {
    background-color: magenta;
    border: 12px;
    margin: 12px;
}

#morning li 
#afternoon li
#evening li {
    padding: 10px;
    margin: 10px;
}

#morning .completed-button {
    color: grey;
    font-style: normal;
    font-size: 12px;
    padding: 12px;
    margin: 12px auto;
}

#afternoon .completed-button {
    color: grey;
    font-style: normal;
    font-size: 12px;
    padding: 12px;
    margin: 12px auto;
}

#evening .completed-button {
    color: grey;
    font-style: normal;
    font-size: 12px;
    padding: 12px;
    margin: 12px auto;
}

#morning .important button
#afternoon .important button
#evening .important button {
    text-decoration-color: red;
    text-decoration: line-through;
    font-weight: bold;
    border-radius: 25%;
    padding: 12px;
    margin: 12px auto;
}

#morning button 
#afternoon button
#evening button {
    border-radius: 25%;
    padding: 12px;
    margin: 12px;
    color: grey;
}