* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* This is a flexbox container */
#navbar {
    background: linear-gradient(
        to bottom,
        green,
        #3e603e
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: yellowgreen;
    padding: 24px;

}

#navbar .cta-button {
    background-color: white;
    color: green;
    border-radius: 24px;
    padding: 16px 24px;
    font-size: 18px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
}

#centered-hero {
    /* These 4 properties are used for hero's */
    background-image: url("../images/fantasy-scifi-2.avif");
    background-size: cover;
    background-position: center center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centered-hero .hero-content {
    color: white;
    text-align: center;
    text-shadow: 8px blue;
}

.hero-content h1 {
    font-size: 75px;
}

.hero-content h3 {
    font-size: 36px;
}

#layout {
    align-self: start;
    /*fiddle with this if you want to modify a horizontal masonry galleries*/
    max-width: 800px;
    margin: 36px auto;
    text-align: center;
    background-color: slateblue;
}

.horizontal-masonry-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.horizontal-masonry-gallery img {
    /*fiddle with this if you want to modify a horizontal masonry galleries*/
    height: 200px;
    flex: 1;
    object-fit: cover;
    border-color: 50px blue;
}

/* TABLET BREAKPOINT */
@media screen and (max-width: 640px) {
    #single-column-layout h1 {
        font-size: 44px;
    }

    #basic-grid-gallery {
        grid-template-columns: 1fr;
    }
}

/* MOBILE BREAKPOINT */
@media screen and (max-width: 526px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #single-column-layout h1 {
        font-size: 32px;
    }
}