* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
 
span{
    background-color: blue;
    /* display: block;  */
}

div {
    background-color:aquamarine;
    /* display: inline; */
}

.narrow {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 24px;
    padding: 24px;
}