* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    max-width: 800px;
    margin: 18px auto;
    background-color: darkolivegreen;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

/* styling related code */
.card {
    border: 5px solid royalblue;
    padding: 12px;
    text-align: center;
    margin: 14px 0px;
    background-color: aquamarine;
    flex: 1;
}

.card h3 {
    font-size: 18px;
    margin: 0px;
    flex: 1;
}

.card p {
    font-size: 18px;
    margin: 18px 0px 0px;
    flex: 1;
}

#card-container {
    display: flex;
    gap: 10px;
    margin: 50px;
}

.button.wide {
    display: inline-block;
    margin: 20px;
    margin: center;
    border-radius: 18px;
    padding: 3px;
    background-color: green;
}