* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    max-width: 800px;
    margin: 36px auto;
    background-color: darkolivegreen;
}

.card {
    border: 5px solid royalblue;
    padding: 36px;
    text-align: center;
    margin: 36px 0px;
    background-color: aquamarine;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}

#card-container {
    display: flex;
    gap: 24px;
}

.button.wide {
    display: inline-block;
    margin: 20px;
    margin: center;
    border-radius: 24px;
    padding: 3px;
    background-color: green;
}
 