* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.center-column {
    background-color: green;
    max-width: 500px;
    margin: 0px auto;
    text-align: center;
    align-items: center;
}

#card-section {
    background-color: forestgreen;
    color: #bfefff;
    padding: 48px;
    display: flex;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 1;
    border: 3px solid #bfefff;
    padding: 36px;
    text-align: center;
    margin: 36px;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}

.card img {
    
}