* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#sidebar {
    background-color: #333333;
    color: white;
    width: 500px;
    min-height: 100vh;
    padding: 24px;
}

#sidebar .chapter  {
    font-size: 18px;
    font-weight: bold;
    padding: 24px;
    margin: 24px;
    width: 24px;
}

#sidebar .needs-edit {
    color: orange;
    font-style: italic;
    font-size: 24px;
}

#Sidebar .chapter .needs-edit {
    color: red;
    font-size: 24px;
}