/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

body {
    background-image: url("../images/pencils.jpg");
    background-size: cover;
    background-position: center;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#license {
    border-color: black;
    width: 700px;
    border: 10px;
    border-radius: 100%;
    padding: 64px;
    margin: 48px auto;
}

#license h1 {
    margin: 50%;
    padding-top: 50%;
    height: 5px;
    font-size: 48px;
}

#left-side {
    display: inline-block;
    width: 65%;
    height: auto;
    padding: 100px;
    margin: auto;
}

#right-side {
    display: inline-block;
    width: 34%;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

#id-and-expiration {
    display: inline-block;
}

#license {
    display: inline-block;
}

#content h1 {
    margin: auto;
    padding: 0px 64px 0px;
}

#small-pic {
    display: inline-block;
}

#data-fields {
    display: inline-block;
}

#small-pic-container img {
    max-width: 25%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

#data-left {
    display: inline-block;
    margin: auto;
}

#data-right {
    display: inline-block;
    margin: auto;
}

#signature {
    text-align: center;
    padding: 18px;
}

#right-side img {
    width: 100%;
}

#donor {
    display: inline-block;
}

#realID {
    display: inline-block;
}

#left-side h4 {
    background-color: black;
    color: white;
    width: 250px;
    height: 36px;
    text-align: center;
    padding: 10px;
}