* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* This is a Flexbox container */
#navbar {
    Background-color: forestgreen;
    border-color: blue;
    border: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 12px;
}

#navbar #AngelEars {
    margin-right: auto;
}

#navbar #logo img {
    width: 150px;
}

#navbar .cta-button {
    background-color: white;
    color: green;
    border-radius: 20px;
    padding: 12px 18px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    min-width: 100px;
    margin-right: 24px;
}

h2 {


}