* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    display: flex;
}

.side-by-side {
    margin: 18px;    
    padding: 18px;
    width: 50px;
}

.image-container {
    width: 18px;
    margin: 16px;
    padding: 16px;
    order: 3;
}

.text-container {
    text-align: center;
    font-size: 16px;
}

#thumbnail-column {
    width: 100px;
    margin: 100px;
    padding: 16px;
}

#featured-image-column {
    flex: 1;
}

#product-info-column {
    margin: 16px;
    padding: 16px;
    font-size: 16px;
    display: inline-block;
    width: 300px;
}

#featured-image-column img {
    width: 100%;
}

.button.background {
    background-color: darkblue;
    color: white;
    padding: 18px;
    border-radius: 24px;
    margin: 8px;
    font-size: 18px;
    font-weight: bold;
}

.button.wide {
    display: block;
    text-align: center;
}