* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    display: flex;
}

.side-by-side {
    margin: 24px;    
    padding: 24px;
    width: px;
}

.image-container {
    width: 24px;
    margin: 16px;
    padding: 16px;
    order: 3;
}

.text-container {
    text-align: center;
    font-size: 16px;
}

#thumbnail-column {
    width: 100px;
    margin: 100px;
    padding: 16px;
}

#featured-image-column {
    flex: 1;
}

#product-info-column {
    margin: 16px;
    padding: 16px;
    font-size: 16px;
    display: inline-block;
    width: 400px;
}

#featured-image-column img {
    width: 100%;
}