* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.button.simple {
    border: 3px solid white;
    color: white;
    margin: 36px;
    border-radius: 8px;
    padding; 36px;
    background-color: blue;
    font-size: 12px;

}

#single-column {
    max-width: 500px;
    margin: 24px auto;
}

/* flexbox container */
#side-by-side-recipe {
    display: flex;
    align-items: center;
}

/* flex item */
#side-by-side-recipe img {
    width: 300px;
}

/* flex item */
#side-by-side h2 {
    font-size: 80px;
}

/* flexbox container */
#side-by-side .text-container {
    display: flex;
    align-items: center;
    gap: 36px;
}

#side-by-side .image-container {
    flex: 2;
}

#side-by-side .text-container {
    flex: 2;
}

#side-by-side .image container img {
    width: 100%;
}

.card img {
    margin: 30px 30px;
}

.card {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 12px;
    margin: 12px 8px 8px;
    text-align: center;
}

#card-container {
    display: flex;
    gap: 16px;
}

h2 {
    text-align: center;
}