*color=palettes {
    box-shadow: 6px 6px 12px #392F5A;
    margin: 24px;
    padding: 24px;
    text-align: center;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#color-1 {
    background-color: #392F5A;
    color: space-cadet;
}
#color-2 {
    background-color: #F092DD;
    
}
#color-3 {
    background-color: #EEC8E0;
    
}
.color {
    margin: 8px;
    padding: 24px;
}

*color=palettes {
    box-shadow: 6px 6px 12px #392F5A;
    margin: 24px;
    padding: 24px;
    text-align: center;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#color-1 {
    background-color: #392F5A;
    color: space-cadet;
}
#color-2 {
    background-color: #F092DD;
    
}
#color-3 {
    background-color: #EEC8E0;
    
}
.color {
    margin: 8px;
    padding: 24px;
}

*color=palettes {
    box-shadow: 6px 6px 12px #392F5A;
    margin: 24px;
    padding: 24px;
    text-align: center;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#color-1 {
    background-color: #FFAFF0;
    color: plum;
}
#color-2 {
    background-color: #CBC8CE;
    
}
#color-3 {
    </div>
    background-color: #A8C7BB;
    
}
.color {
    margin: 8px;
    padding: 24px;
}

*color=palettes {
    box-shadow: 6px 6px 12px #392F5A;
    margin: 24px;
    padding: 24px;
    text-align: center;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#color-1 {
    background-color: #FFAFF0;
    color: space-cadet;
}
#color-2 {
    background-color: #CBC8CE;
    
}
#color-3 {
    background-color: #F7BCE8;
    
}
.color {
    margin: 8px;
    padding: 24px;
}