body {
    margin: 0px;
    font-family: sans-serif;
}

.color-palettes: 
box-shadow: 6px 6px 12px; #989898
text-align: center;
margin: 24px;
padding: 24px;

#color-1 {
    background-color: #392F5A;
    margin: 8px;
    padding: 8px;
}

#color-2 {
    background-color: #CBC8CE;
    margin: 8px;
    padding: 8px;
}

#color-3 {
    background-color: #F7BCE8;
    margin: 8px;
    padding: 8px;
}

#color-4 {
    background-color: #4ECDC4;
    margin: 8px;
    padding: 8px;
}

#color-5 {
    background-color: #FF6B6B;
    margin: 8px;
    padding: 8px;
}

#color-6 {
    background-color: #FFE66D;
    margin: 8px;
    padding: 8px;
}

#color-7 {
    background-color: #FBB5B1;
    margin: 8px;
    padding: 8px;
}

#color-8 {
    background-color: #FD908E;
    margin: 8px;
    padding: 8px;
}

#color-9 {
    background-color: #FFA96C;
    margin: 8px;
    padding: 8px;
}